$color-header:#fff;
$color-video:#CCCCCC;
$color-imagenes:#C13832;
$container-width: 1050px;
$video-width: 400px;
$video-height: 200px;
$articulo-padding: 1.5em .4em;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@import "header";
@import "articulo1";
@import "articulo2";
@import "articulo3";
@import "footer";


*{
    margin:0;
    padding:0;
	box-sizing: border-box;
}

body {
	background: url("/img/pattern.png");
}


.container{
	//border: 5px solid green; 
	max-width: $container-width;
	margin: 0 auto;
}


